@font-face {
	font-family: "Gotham Pro";
	src: url("../fonts/GothamProRegular.eot");
	src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProRegular.woff") format("woff"),
	url("../fonts/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Gotham Pro";
	src: url("../fonts/GothamProLight.eot");
	src: url("../fonts/GothamProLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProLight.woff") format("woff"),
	url("../fonts/GothamProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$color: #252729;
$border: #d3d4d4;
$back: #f7f8f8;
$blue: #41aef2;
$red: #e94a3d;

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: "Gotham Pro", Arial, sans-serif;
	font-weight: 400;
	color: $color;
  min-width: 300px;
	background: white;
}

.wrap{
	width: 1176px;
  padding: 0 50px;
	max-width: 100%;
	display:flex;
	justify-content: space-between;
	margin: 0 auto;
	.block-right, .block-left{width: 49%;}
}

//fonts

h1, h2, h3, h4 {
	font-family: "Gotham Pro", Arial, sans-serif;
	font-weight: 300;
  margin: 0;
}

h2{
  font-size: 48px;
  line-height: 60px;
}

h3{
  font-size: 36px;
  line-height: 48px;
}

h4{
  font-size: 22px;
  line-height: 32px;
}

p, .text{
  margin: 0;
  word-wrap: normal;
  font-size: 14px;
  line-height: 24px;
}

input, textarea{
	font-family: "Gotham Pro", Arial, sans-serif;
	font-weight: 300;
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 25px;
  border: 1px solid $border;
  outline: none;
  resize: none;
}


form{
  .form-item{
    padding-bottom: 12px;
    position: relative;
    .message{
      color: red;
      font-size: 10px;
      font-weight: 300;
      text-align: center;
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    &.is-error{
      input, textarea{border-color: $red;}
      .message{display: block;}
    }
  }
}

button{
  font-family: "Gotham Pro", Arial, sans-serif;
}

img{max-width: 100%;}


.btn{
	display: flex;
	height: 40px;
	border-radius: 20px;
	padding-top: 2px;
	text-decoration: none;
	width: 160px;
  color: white;
  background: $red;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
  border: 1px solid $red;
  transition: .2s all;
  &:hover{
    background: white;
    color: $red;
    transition: .2s all;
  }
}

header{
	background: white;
	border-bottom: 1px solid $border;
	padding: 34px 0;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
	.logo{
    a{
      text-decoration: none;
      width: 180px;
      min-width: 180px;
      display: block;
      background: url('../images/logo.png') no-repeat center;
      height: 35px;
    }
	}
	.menu{
		display: flex;
    align-items: center;
    .xs-menu{
      display: none;
    }
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			li{
				display: inline-block;
				text-align: center;
				list-style: none;
				padding: 0 15px;
				.link{
					text-decoration: none;
					color: $color;
					display: inline-block;
				}
        .btn{
          text-transform: uppercase;
          padding: 2px 10px;
          width: auto;
        }
			}
		}
		.phone {
			margin-left: 16px;
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $color;
			white-space: nowrap;
			&::before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 31px;
				height: 31px;
				background: url('../images/phone_b.png') no-repeat center / contain;
				margin-right: 16px;
			}
		}
    .xs-menu-btn{
      display: none;
      background: url('../images/bar.svg') no-repeat center / 40px;
      width: 35px;
      height: 23px;
    }
	}
}

.join{
	margin-top: 180px;
  overflow: hidden;
	.block-left{
    h1{
      font-size: 36px;
      font-weight: 300;
      margin: 0 0 20px;
    }
    .step-1{
      // display: none;
      form{
        display: flex;
        align-items: flex-end;
        width: 100%;
        .subscribe{
          width: 360px;
          margin: 0;
          position: relative;
          overflow: hidden;
          border-radius: 20px;
          input {
            width: 100%;
            padding-right: 80px;
          }
          .send{
            display: block;
            width: 70px;
            height: 42px;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            border: 0;
            border-radius: 0 20px 20px 0;
            background: white url('../images/mail.png') no-repeat center / 38px;
            border: 1px solid $border;
            outline: none;
            transition: .2s all;
            &:hover{
              transition: .2s all;
              background: white url('../images/mail_h.png') no-repeat center / 38px;
            }
          }
        }

      }
    }
    .step-2{
      display: none;
      form{
        display: flex;
        align-items: flex-end;
        width: 100%;
        .subscribe{
          width: 230px;
          margin-right: 32px;
          input ~ input {margin: 15px 0 0 }
        }
        .btn{margin-bottom: 12px;}
      }
    }
    .step-3{
      display: none;
    }
    p{
      margin: 0 0 40px;
      font-size: 16px;
    }
	}
	.block-right{
		text-align: center;
		padding-top: 24px;
    p{
      font-size: 20px;
    }
	}
  #chart{
    width: 100%;
    max-width: 100%;
  }
	.title-chart{
		position: relative;
		height: 300px;
		ul{
			margin: 0 auto;
			padding: 0;
			display: block;
			width: 1200px;
			max-width: 100%;
			li{
				display:block;
				position: absolute;
				right: 0;
				top: 0;
				padding: 16px 16px 300px;
        color: rgba($color, .5);
				background: #ffffff;
				background: -webkit-linear-gradient(#ffffff 20%, #c6e5ff 100%);
				background: -o-linear-gradient(#ffffff 20%, #c6e5ff 100%);
				background: linear-gradient(#ffffff 20%, #c6e5ff 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6e5ff',GradientType=0 );
				&:first-child{
					right: 300px;
					top: 20px;
				}
        &:last-child{
          left: 20px;
          top: 100px;
          background: none;
        }
				span{
					font-weight: bold;
					display: block;
          color: $color;
          margin-top: 10px;
				}
			}
		}
		svg{
			position: absolute;
			bottom: 0;
			width: 100%;
			max-width: 100%;
		}
	}
}

.problems{
	padding: 50px 0;
	background: url('../images/back.png') no-repeat center / cover;
	.wrap{
		align-items:center;
	}
	.block-left{
		text-align: center;
		h3{
			color: white;
			display: inline-block;
			text-align: left;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			display: flex;
			width: 100%;
			align-items: center;
			color: white;
			p{
				margin: 0;
				span{
					display: block;
					font-size: 25px;
					margin: 0 0 8px;
				}
        h4{
          display: block;
          margin: 0 0 8px;
        }
			}
			.img{
				min-width: 88px;
				width: 88px;
				padding-right: 8px;
				img{
					max-width: 79px;
					max-height: 79px;
				}
			}
			& ~ li {margin-top: 50px;}
		}
	}
}

.payment{
	padding: 50px 0;
	overflow: hidden;
	.block-left{
		width: 40%;
	}
	.block-right{
		width: 58%;
		height: 500px;
	}
	h3{
		margin: 0 0 50px;
	}
	.months{
		position: relative;
		.item{
			position: absolute;
      min-width:195px;
			&.item-4{
				top: 0;
				right: 0;
			}
			&.item-3{
				top: 30px;
				right: 130px;
			}
			&.item-2{
				top: 60px;
				right: 260px;
			}
			&.item-1{
				top: 90px;
				right: 390px;
			}
			&:hover{z-index: 10;}
		}
	}
	.total{
		margin: 50px 0 0;
		display: flex;
		justify-content: space-around;
		padding: 0;
		width: 100%;
		li{
			list-style: none;
			max-width: 280px;
      width: auto;
			.img{
				margin: 0 0 8px;
				img{max-height: 48px;}
			}
			p{
				margin: 0;
				font-size: 18px;
				line-height: 30px;
				h4{display: block;}
			}
		}
	}
}

.investitions, .interface{
	padding: 50px 0;
	h2{
		text-align: center;
		display: block;
		margin: 0 0 50px;
	}
	h3{
		margin: 0 0 50px;
	}
	p{
		& ~ p {margin-top: 24px}
	}
	.btn{margin-top: 50px;}
}

.interface{
  .block-left{
    h3{
      display: none;
    }
  }
  .block-right{
    h3{
      display: block;
    }
  }
}

.investitions{
  .histogramm{
    overflow-x: auto;
    ul{
      margin: 0 0 20px;
      padding: 0;
      li{
        list-style: none;
        display: block;
        font-size: 16px;
        font-weight: 300;
        margin-top: 16px;
        a{
          color: #d3d4d4;
          text-decoration: none;
          cursor: pointer;
          &.active, &:hover{
            color: $color;
          }
        }
      }
    }
    #histogram{
      position: relative;
      margin-top: 40px;
      width: 400px;
      max-width: 400px;
      .income{
        position: absolute;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        right: 0;
        top: 20px;
        &::after{
          content: '';
          display: block;
          margin: 10px auto 0;
          width: 10px;
          height: 10px;
          background: $border;
          border-radius: 50%;
          box-shadow: 0 0 0 6px white, 0 0 0 7px $border;
        }
      }
    }
    svg{
      max-width: 100%;
      width: 100%;
      path{display: none;}
      .tick{
        path, line{
          display: none;
        }
      }

    }
  }
}

.calculator{
	background: $back;
	padding: 50px 0;
  overflow: hidden;
	h3{
    margin: 0 0 50px;
    display: block;
    width: 100%;
  }
  .wrap{
    flex-wrap: wrap;
  }
  .range{
    position: relative;
    .value{
      position: absolute;
      top: -50px;
      font-weight: bold;
      font-size: 24px;
    }
  }
	.income{
    color: rgba($color, .5);
		.sum{
			font-size: 40px;
      white-space: nowrap;
			color: $red;
      margin-top: 10px;
      line-height: 1;
		}
	}
	.income-percent{
    color: rgba($color, .5);
		.sum{
			font-size: 40px;
      white-space: nowrap;
      margin-top: 10px;
      line-height: 1;
      color: $color;
		}
	}
	.block-right{
		display: flex;
		align-items: center;
    padding-top: 20px;
		> div{width: 50%;}
	}

  .block-left{
    p {
      font-size: 24px;
      margin: 0 0 60px;
    }
  }

	.calc-plan{
		margin: 100px 0 0;
		padding: 0;
		display: block;
		width:100%;
		font-size: 0;
		li{
			display: inline-block;
			vertical-align: top;
			list-style: none;
			width: 20%;
			padding-right: 16px;
			p{
        color: rgba($color, .5);
				& ~ p {margin-top: 20px;}
        strong{white-space: nowrap;}
				> span{
					display: block;
					font-size: 24px;
          margin-top: 20px;
          color: $color;
					& ~ span{
						font-size: 20px;
            margin-top: 0;
            white-space: nowrap;
					}
				}
				&:first-child{
          font-size: 12px;
					span{
						font-weight: bold;
						margin-top: 16px;
            white-space: wrap;
					}
				}
			}
			.total{
				margin-top: 36px;
				border-top: 1px solid $blue;
				padding-top: 20px;
				span{
					font-size: 30px;
					color: $red;
          white-space: nowrap;
					display: block;
          > span{display: inline}
				}
			}
		}

	}
}

.distribution{
	padding: 50px 0;
  .wrap ~ .wrap {margin-top: 70px;}
  .block-left{
    .btn, p ~ p {margin-top: 24px;}
  }

	h3{
    margin: 0 0 35px;
    span{
      font-size: 16px;
      display: block;
    }
	}

  p{line-height: 30px;}
  .fx-image{
    position: relative;
    overflow: hidden;
    .xs-sale{display: none;}
    .center{
      position: absolute;
      left: 56px;
      top: 170px;
      text-align: center;
      display: inline-block;
      margin: 0;
      font-size: 16px;
      span{
        font-size: 32px;
        display: block;
        margin-bottom: 4px;
      }
    }
    .item{
      position: absolute;
      line-height: 1;
      white-space: nowrap;
      font-size: 16px;
      margin: 0;
      span{font-weight: bold;}
      &.item-1{
        left: 150px;
        top: 0;
        span{color: #2395DD}
      }
      &.item-2{
        left: 310px;
        top: 38px;
        span{color: #3FB1B7}
      }
      &.item-3{
        left: 340px;
        top: 94px;
        span{color: #E2AA19}
      }
      &.item-4{
        left: 340px;
        top: 137px;
        span{color: #DAD73D}
      }
      &.item-5{
        left: 340px;
        top: 191px;
        span{color: #E00051}
      }
      &.item-6{
        left: 315px;
        top: 275px;
        span{color: #941D86}
      }
    }
  }
  .advanced{
    .block-left, .block-right{
      border: 1px solid $border;
      padding: 30px 0;
      border-radius: 20px;
    }

    h3 {
      margin: 0 0 20px;
      padding: 0 30px;
      span{
        line-height: 1;
        color: rgba($color, .5);
      }
    }
    .even {
      background: #efefef;
      padding: 16px 30px;
      display: block;
    }
    p{
      color: rgba($color, .5);
      span{
        font-size: 25px;
        color: $color;
      }
      & ~ p {margin-top: 20px;}
    }

    .cap{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding: 0 30px;
      p {
        display: block;
        & ~ p {
          text-align: right;
          margin: 0;
        }
        span{
          display: block;
        }
      }
    }

    .table{
      padding: 0 30px;
      margin-top: 20px;
      table{
        width: 100%;
        border-collapse: collapse;
        tr{
          th{
            font-size: 16px;
            font-weight: 300;
            text-align: right;
            color: rgba($color, .5);
            &:first-child{text-align: left;}
          }
          td{
            font-size: 25px;
            padding: 15px 0;
            text-align: right;
            &:first-child{text-align: left;}
            &:nth-child(2){color: $red;}
          }
        }
      }
    }
  }
}

.roadmap{
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  h3{
    margin: 0 0 35px;
  }
  &::before{
    content: '';
    display: block;
    height: 100%;
    z-index: 10;
    width: 50px;
    position: absolute;
    top: 80px;
    left: 0;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  }
  &::after{
    content: '';
    z-index: 10;
    display: block;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 80px;
    right: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  }
  .line-slider{
    overflow: hidden;
    position: relative;
    height: 530px;
    .wrapper-slide{
      width: 4020px;
      min-width: 4020px;
      overflow: hidden;
      overflow-x: auto;
      height: 570px;
    }
    .events{
      display: flex;
      justify-context: space-around;
      width: 4020px;
      min-width: 4020px;
      .item{
        padding: 30px;
        position: relative;
        width: 1005px;
        p{
          margin: 0 0 45px;
          font-size: 36px;
          font-weight: 300;
          padding: 0 30px;
        }
        ul{
          display: block;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-between;
          height: 100px;
          min-height: 100px;
          li{
            list-style: none;
            display: block;
            padding: 0 30px;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
          }
        }
      }
    }
    #line-slider{
      width: 5000px;
    }
    .line-svg-slider{
      position: relative;
      top: -200px;
    }
  }

  .line-slider-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .button{
      display: block;
      width: 58px;
      height: 58px;
      position: relative;
      z-index: 20;
      &.next{
        background: url('../images/r.png') no-repeat center / contain;
        margin-left: 30px;
        transition: .2s all;
        &:hover{
          transition: .2s all;
          background: url('../images/r_h.png') no-repeat center / contain;
        }
      }
       &.prev{
        background: url('../images/l.png') no-repeat center / contain;
        margin-right: 30px;
        transition: .2s all;
        &:hover{
          transition: .2s all;
          background: url('../images/l_h.png') no-repeat center / contain;
        }
      }
    }
  }
}

.fond {
  padding: 50px 0;
  background: $back;
  h2{
    text-align: center;
    margin: 0 0 50px;
  }
  .fond-image{
    position: relative;
    height: 650px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: url('../images/distribution.png') no-repeat center;
    .img{display: none;}
    .item{
      width: 330px;
      position: absolute;
      line-height: 24px;
      font-size:14px;
      h4{
        display: block;
        font-weight: 400;
        margin: 0 0 16px;
      }
      p{margin: 0;}
      &.item-1{
        top: 0;
        left: 310px;
        h4{color: #FEBA14}
      }
      &.item-2{
        right: 10px;
        top: 90px;
        h4{color: #862E86}
      }
      &.item-3{
        right: 0;
        top: 320px;
        h4{color: #8BE0D7}
      }
      &.item-4{
        left: 0;
        top: 210px;
        h4{color: #E1332F}
      }
      &.item-5{
        left: 290px;
        top: 450px;
        h4{color: #369CEE}
      }
    }
  }
}

.causes{
  padding: 50px 0;
  .wrap{
    flex-wrap: wrap;
  }
  h2{
    text-align: center;
    margin: 0 0 50px;
    width: 100%;
    display: block;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      display: flex;
      width: 100%;
      align-items: stretch;
      .candle{
        min-width: 40px;
        width: 40px;
        border: 1px solid $border;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $border;
        font-size: 20px;
        position: relative;
        &::before, &::after{
          content: '';
          display: block;
          width: 1px;
          height: 20px;
          background: $border;
          position: absolute;
          left: 20px;
        }
        &::before{top: -20px;}
        &::after{bottom: -20px;}
      }
      p{
        margin: 0;
        display: block;
        margin-left: 16px;
        span{
          display: block;
          font-size: 18px;
          font-weight: bold;
          margin: 0 0 4px;
        }
        a{
          color: $blue;
          text-decoration: underline;
          cursor: pointer;
          &:hover{text-decoration: none;}
        }
      }
      & ~ li {margin-top: 50px;}
    }
  }
}

.command{
  .wrap{
    display: block;
  }
	h2 {
		text-align: center;
		margin: 0 0 50px;
	}
  .tabs-list{
    position: relative;
    padding: 0 20px;
    &::before{
      content: '';
      display: block;
      height: 100%;
      z-index: 10;
      width: 40px;
      position: absolute;
      top: 0;
      left: 0;
      background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    }
    &::after{
      content: '';
      z-index: 10;
      display: block;
      height: 100%;
      width: 40px;
      position: absolute;
      top: 0;
      right: 0;
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    }
  }
  .heads{
    .tabs-list{
      overflow: hidden;
      max-width: 100%;
      height: 54px;
      ul{
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow-x: auto;
        height: 70px;
      }
    }
    ul {
      margin: 0 0 50px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      li{
        list-style: none;
        padding: 0 15px;
        text-align: center;
        a{
          text-decoration: none;
          color: $color;
          cursor: pointer;
          display: inline-block;
          font-size: 24px;
          color: rgba($color, .5);
          span{
            display: block;
            font-size: 16px;
          }
          &:hover{
            text-decoration: none;
            color: $color;
          }
          &.active{color: $color;}
        }
      }
    }
    .tabs-container{
      .container{
        display: none;
        width: 100%;
        align-items: center;
        .img{
          min-width: 360px;
        }
        .text{
          padding-left: 35px;
          ul{
            margin: 25px 0;
            padding: 0;
            justify-content: flex-start;
            li{
              margin-right: 8px;
              display: inline-block;
              vertical-align: top;
              padding: 0;
              a, a:hover{
                text-decoration: none;
              }
            }
          }
        }
        &.active{display: flex;}
      }
    }
  }
  .departments{
    padding: 50px 0;
    .tabs-list{
      overflow: hidden;
      max-width: 100%;
      height: 54px;
      ul{
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow-x: auto;
        height: 70px;
        li{
          list-style: none;
          display: inline-block;
          vertical-align: middle;
          margin-right: 40px;
          a{
            font-size: 22px;
            text-decoration:none;
            cursor: pointer;
            color: rgba($color, .5);
            &:hover{text-decoration: none;}
            &.active{color: $color;}
          }
        }
      }
    }
    .tabs-container{
      margin-top: 20px;
      .container{
        display: none;
        &.active{display: block;}
        .slider{
          position: relative;
          .slick-prev, .slick-next{
            display: block;
            position: absolute;
            top: 35%;
            background: transparent;
            border: 0;
            width: 50px;
            height: 50px;
            outline: none;
            cursor: pointer;
          }
          .slick-prev{
            left: 0;
            background: url('../images/l.png') no-repeat center / cover;
            transition: .2s all;
            &:hover{
              transition: .2s all;
              background: url('../images/l_h.png') no-repeat center / cover;
            }
          }
          .slick-next{
            right: 0;
            background: url('../images/r.png') no-repeat center / cover;
            transition: .2s all;
            &:hover{
              transition: .2s all;
              background: url('../images/r_h.png') no-repeat center / cover;
            }
          }
          margin: 0;
          padding: 0 50px;
          width: 100%;
          .item{
            list-style: none;
            text-align: center;
            padding: 0 16px;
            outline: none;
            .img {
              min-width: 100px;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              overflow: hidden;
              margin-bottom: 16px;
              margin: 0 auto;
            }
            p{
              margin: 0;
              font-size: 12px;
              span{
                display: block;
                font-weight: bold;
                font-size: 14px;

              }
            }
            ul{
              margin: 10px 0 0;
              padding: 0;
              display: block;
              text-align: center;
              line-height: 0;
              li{
                list-style: none;
                display: inline-block;
                vertical-align: middle;
                padding: 0 5px;
                a{
                  display: block;
                  text-decoration: none;
                  img{
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


footer{
  background: #F8F8F8;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    margin: 0;
    color: rgba(#353535, .7);
    font-size: 18px;
    text-align: center;
  }
}

//charts
.line-area{fill: white;}

//countdown
.countdown{
  width: 500px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
  #days, #hours, #mins, #secs{
    text-align: center;
    span{
      font-size: 58px;
      line-height: 48px;
      width: 40px;
      min-width: 40px;
      display: inline-block;
      vertical-align: top;
      font-weight: 300;
    }
    &::after{
      display: block;
      font-size: 12px;
      font-weight: 400;
      margin-top: 15px;
    }
  }
  #days::after{content: 'Дней'}
  #hours::after{content: 'Часов'}
  #mins::after{content: 'Минут'}
  #secs::after{content: 'Секунд'}
}

.close{
  display: inline-block;
  border: 1px solid $border;
  background: white;
  width: 40px;
  height: 40px;
  background: url('../images/close.png') no-repeat center / 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .6;
  position: absolute;
  top: 20px;
  right: 20px;
  &:hover{opacity: 1;}
}


.popup-overlay{
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  backface-visibility: hidden;
  .popup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    background: rgba(0,0,0,.44);
    opacity: 0;
    transition: .3s all;
  }
  .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    max-width: 100%;
    height: 400px;
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    transition: .5s all;
    *{transition: none;}
    > div{
      height: 100%;
      border-radius: 20px;
      border: 1px solid $border;
      background-color: #ffffff;
      width: 100%;
      position: relative;
      padding: 25px;
      -webkit-overflow-scrolling: touch;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        transform: translate3d(0,0,0);
        transition: transform 200ms ease-out;
    }
  }

  .modal{
    h3{
      margin: 0 0 30px;
      font-size: 36px;
      font-weight: 300;
    }
    ul{
      margin: 0 0 30px;
      padding: 0;
      display: block;
      li{
        display: inline-block;
        vertical-align: top;
        list-style: none;
        color: $border;
        margin-right: 25px;
        span{
          color: $color
        }
      }
    }
    form{
      input{
        width: 100%;
        & ~ input{margin-top: 15px;}
      }
      .btn{
        margin-top: 30px;
        font-size: 14px;
        font-weight: 300;
      }
      a{
        text-decoration: underline;
        color: $blue;
        margin-top: 15px;
        display: inline-block;
        &:hover{text-decoration: none;}
      }
    }
  }
  &.opened{
    visibility: visible;
    .popup{
      opacity: 1;
      transition: .1s all;
      .modal{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        transition: .1s all;
        &.scale{
          animation: scale .5s;
        }
      }
    }
  }
}


@import '../css/rangeslider.css';
@import '../css/slick.css';

@media screen and (max-width: 1100px) {
  header{
    .logo{
      a{
        width: 130px;
        min-width: 130px;
        background: url(../images/logo.png) no-repeat center / contain;
      }
    }
  }

  .payment{
    .months{
      .item{
        min-width:195px;
        &.item-4{
          top: 0;
          right: 0;
        }
        &.item-3{
          top: 30px;
          right: 100px;
        }
        &.item-2{
          top: 60px;
          right: 200px;
        }
        &.item-1{
          top: 90px;
          right: 300px;
        }
      }
    }
    .total{
      li{
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  h2{
    font-size: 44px;
    line-height: 56px;
  }

  h3{
    font-size: 32px;
    line-height: 44px;
  }

  h4{
    font-size: 18px;
    line-height: 26px;
  }

  p{
    font-size: 12px;
    line-height: 20px;
  }

  header{
    .menu{
      ul{
        li{
          padding: 0 8px;
          .link{
            font-size: 12px;
          }
          .btn{
            font-size: 12px;
          }
        }
      }
      > a {
        font-size: 12px;
        &::before{
          width: 24px;
          height: 24px;
          margin-right: 8px;
          background: url('../images/phone_b.png') no-repeat center / contain;
        }
      }
    }
  }

  .calculator{
    .range{
      position: relative;
      .value{
        position: absolute;
        top: -50px;
        font-weight: bold;
        font-size: 24px;
      }
    }
    .block-right{
      padding-top: 0;
      align-items: flex-start;
    }
    .block-left{
      p{margin-bottom: 80px;}
    }
    .income{
      .sum{
        font-size: 30px;
      }
    }
    .income-percent{
      .sum{
        font-size: 30px;
      }
    }

    .calc-plan{
      li{
        p{
          > span{
            font-size: 18px;
            & ~ span{
              font-size: 14px;
              margin-top: 0;
            }
          }
        }
        .total{
          span{
            font-size: 24px;
          }
        }
      }
    }
  }
  .distribution{
    .wrap:first-child{
      .block-left{width: 39%;}
      .block-right{width: 59%;}
    }
    .advanced{
      p{
        span{
          font-size: 16px;
        }
      }

      .table{
        padding: 0 30px;
        margin-top: 20px;
        table{
          width: 100%;
          border-collapse: collapse;
          tr{
            th{
              font-size: 12px;
            }
            td{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .fond{
    .fond-image{
      .item{
        width: 230px;
        font-size: 12px;
      }
    }
  }

  .payment{
    .months{
      .item{
        min-width:195px;
        &.item-4{
          top: 0;
          right: 0;
        }
        &.item-3{
          top: 30px;
          right: 80px;
        }
        &.item-2{
          top: 60px;
          right: 160px;
        }
        &.item-1{
          top: 90px;
          right: 240px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  header{
    padding: 20px 0;
    height: 80px;
    position: fixed;
    .wrap{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .menu{
      .lg-menu{
        display: none;
      }
      .phone{
        margin: 0 40px;
        height: 32px;
        font-size: 14px;
      }
      .xs-menu-btn{
        display: block;
        height: 32px;
      }
      .xs-menu{
        // display: none;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-width: 0;
        background: white;
        top: 0;
        right: 0;
        padding: 0;
        z-index: 99999;
        overflow: hidden;
        transition: .5s max-width;
        border: 1px solid $border;
        &.opened{
          max-width: 2000px;
          transition: .5s max-width;
        }
        ul{
          margin: 0;
          padding: 20px;
          display: block;
          li{
            display: block;
            width: 100%;
            .link{
              font-size: 16px;
              display: inline-block;
              padding: 10px 20px;
              white-space: nowrap;
            }
            & ~ li {
              margin-top: 25px;
            }
          }
        }
      }
    }
  }

  .join{
    padding-top: 100px;
    margin-top: 0;
  }
  .countdown{
    #days, #hours, #mins, #secs{
      text-align: center;
      span{
        font-size: 40px;
        line-height: 30px;
        width: 30px;
        min-width: 30px;
      }
    }
  }

  .payment{
    .wrap:first-child{
      flex-direction: column-reverse;
      .block-left, .block-right{width: 100% ;}
    }
    .months{
      margin: 0 auto;
      width: 500px;
    }
  }

  .distribution{
    .wrap:first-child{
      flex-wrap: wrap;
      .block-left, .block-right{width: 100%;}
      .block-right{margin-top: 20px;}
    }
    .advanced{
      p{
        span{
          font-size: 16px;
        }
      }

      .table{
        padding: 0 30px;
        margin-top: 20px;
        table{
          width: 100%;
          border-collapse: collapse;
          tr{
            th{
              font-size: 12px;
            }
            td{
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .fond{
    .fond-image{
      background: none;
      height: auto;
      .img{
        display: block;
        text-align: center;
      }
      .item{
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100%;
        margin-top: 20px;

      }
    }
  }

  .command{
    .heads{
      .tabs-container{
        .container{
          .img{
            min-width: 250px;
          }
        }
      }
    }
  }

  .roadmap{
    .line-slider{
      height: 450px;
    }
    .line-svg-slider{
      position: relative;
      top: -50px;
    }
  }

}

@media screen and (max-width: 744px){
  h2{
    font-size: 34px;
    line-height: 46px;
  }

  h3{
    font-size: 26px;
    line-height: 36px;
  }

  h4{
    font-size: 16px;
    line-height: 24px;
  }
  .join{
    .title{
      text-align: center;
    }
    h1{
      font-size: 24px !important;
    }
    .block-left{
      .step-1{
        form{
          .subscribe{
            width:100%;
            input{width: 100%;}
          }
        }
      }
      .step-2{
        form{
          display: block;
          text-align: center;
          .btn{
            margin: 20px auto 0;
          }
          .subscribe{
            width:100%;
            padding: 0;
            margin: 0;
          }
        }
      }

    }
    .counter{
      margin: 50px auto 0;
      max-width: 300px;
    }

    .title-chart{
      margin-top: 20px;
      height: 300px;
      .btn-white{display: inline-block;}
      ul{
        li{
          font-size: 12px;
          width: 150px;
          &:first-child{
            right: 150px;
          }
          &:last-child{
            left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px){
  h4{
    font-size: 22px;
    font-weight: 400;
  }
  .wrap{
    flex-wrap: wrap;
    padding: 0 20px;
    .block-left, .block-right {width: 100% !important;}
  }
  header{
    display: block;
  }

  .join{
    .counter{margin-top: 20px;}
  }

  .problems{
    .block-left{
      h3{
        text-align: center;
        margin: 0 0 50px;
      }
    }
  }

  .payment{
    .wrap:first-child{
      flex-direction: column;
    }
    h3{text-align: center;}
    .months{
      margin: 30px auto;
      width: 430px;
      .item{
        &.item-4{
          top: 0;
          right: 0;
        }
        &.item-3{
          top: 30px;
          right: 80px;
        }
        &.item-2{
          top: 60px;
          right: 160px;
        }
        &.item-1{
          top: 90px;
          right: 240px;
        }
      }
    }
    .total{
      display: block;
      li{
        width: 100%;
        max-width: 100%;
        display: flex;
        .img{
          min-width: 80px;
          padding-right: 20px;
        }
        & ~ li{margin-top: 20px;}
      }
    }
  }

  .investitions{
    h3{text-align: center;}
    .histogramm{
      #histogram{margin: 0 auto;}
      ul{
        li{
          text-align: center;
        }
      }
    }
  }

  .interface{
    .block-left{
      h3{
        display: block;
        text-align:center;
      }
    }
    .block-right{
      h3{
        display: none;
      }
    }

    .btn{
      margin: 30px auto 0;
    }
  }

  .calculator{
    h3{text-align: center;}
    .range{
      position: relative;
      .value{
        position: absolute;
        top: -50px;
        font-weight: bold;
        font-size: 24px;
      }
    }
    .block-right{
      margin-top: 30px;
      align-items: flex-start;
    }
    .block-left{
      p{text-align: center;}
      .range{width: 100%;}
    }

    .calc-plan{
      margin: 30px 0 0;
      display: block;
      li{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        & ~ li {margin-top: 50px;}
        p{
          &:first-child{
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: flex-end;
            span{
              margin: 0 10px 2px 0;
              font-size: 24px;
              font-weight: bold;
            }
            padding-bottom: 5px;
            border-bottom: 2px solid $border;
          }
          margin-right: 20px;
          span{
            margin: 0;
            font-size: 20px;
          }
          & ~ p {margin-top: 15px;}


        }
        .total{
          width: 100%;
          text-align: right;
          border: 0;
          margin: 15px 0 0;
          padding: 0;
          p{
            border: 0;
            width: 50%;
            border-top: 2px solid $blue;
            padding: 15px 0;
            display: block;
            span{
              margin: 0;
              font-size: 24px;
            }
          }

        }
      }
    }
  }
  .distribution{
    h3{
      text-align: center;
    }
    .btn{
      margin: 30px auto 0;
    }
    .fx-image{
      .xs-sale{
        display: block;
        margin: 0 auto;
        text-align: center;
      }
      .sale{display: none;}
      .item{
        position: relative;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        margin-top: 15px;
        text-align: center
      }
      .center{
        width: 100%;
        text-align: center;
        left: 0;
      }
    }
    .advanced{
      .block-right{margin-top: 20px;}
    }
  }

  .causes{
    .block-right{margin-top: 50px;}
  }

  .command{
    .heads{
      .tabs-container{
        .container{
          &.active{display: block;}
          .img{
            text-align: center;
            margin: 0 0 15px;
          }
          .text{padding: 0;}
        }
      }
      ul{
        white-space: nowrap;
        li{
          width: auto;
          margin-right: 20px;
          a{
            span{white-space: nowrap;}
          }
        }
      }
    }
  }
  .popup-overlay{
    .popup{
      padding: 0;
    }
    .modal{
      width: 100% ;
      height: 100% ;
      h3{
        text-align: center;
      }
      > div{
        padding-top: 100px;
        border-radius: 0;
      }
    }
  }
}

@media screen and (max-width: 480px){
  h2{
    font-size: 36px;
    line-height: 48px;
  }

  h3{
    font-size: 32px;
    line-height: 44px;
  }

  h4{
    font-size: 22px;
    line-height: 32px;
  }

  p{
    font-size: 14px;
    line-height: 24px;
  }
  header{
    height: 130px;
    .wrap{
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .menu{
      justify-content: flex-start;
      width: 100%;
      margin-top: 15px;
      .phone{
        margin: 0;
      }
      .xs-menu-btn{
        position: absolute;
        right: 20px;
        top: 35%;
      }
    }
  }
  .join{
    padding-top: 150px;
  }
  .calculator{
    .income{
      .sum{font-size: 18px;}
    }
    .income-percent{
      .sum{font-size: 18px;}
    }
  }

  .distribution{
    .fx-image{
      .xs-sale{
        max-width: 250px;
      }
      .center {top: 90px}
    }
    .advanced{
      table{
        tr{
          td{
            font-size: 12px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px){
  h3{
    font-size: 26px;
    line-height: 36px;
  }

  h4{
    font-size: 18px;
    line-height: 26px;
  }

  p{
    font-size: 12px;
    line-height: 20px;
  }
}